<!doctype html> 
<html lang="en-US">
  <head>
  <title>SharePoint Portfolio</Title>
   <style>
       body {background-color:#0D4CB2;color:#ffffff;Border:3px solid #ffffff;margin:30Px;}
       h1 {color:#ffffff;Font-Family:Verdana;font-size:30px;}
       h2 {color:#ffffff;Font-Family:Verdana;font-size:30px;}
       p  {Color:#ffffff;Font-Family:Verdana;font-size:15px;}
    </style>
   </Head>
   <body>
   <h1>My SharePoint Portfolio through HTML</h1>
   <img src="https://www.360-systems.com/media/1150/sharepoint.png?anchor=center&mode=crop&width=555&height=370&rnd=132360844180000000" alt="Sharepoint Logo" width="350" height="200">
   <Br>
   <button title="Like">Like</button>
   <Button title="Comment">Comment</button>
   <Button title="Share">Share</button>
   <h2>I'd like to showcase my SharePoint work with my experience in HTML,CSS and JS.</h2>
   <p>I am currently a SharePoint Developer with 5 years of administration and development experience in SharePoint 2010-2016. I have about 2 years of experience in HTML, CSS, and JS. This is an example of my understanding from complete scratch. If you look on the left, the code displayed is what I wrote to create the Look and feel of my Portfolio.</p>
   <ul>Education and Certs
   <Li>35 Hours Computer Information Systems-<em>Columbia College</em></Li>
   <li>A+ Certification-<em>Comptia</em></li>
   <li>N+ Certification-<em>Comptia</em></Li>
   <li>Security+ Certification-<em>Comptia</em></li>
   </ul>
     </Body>
     </html>
